.contact__container {
    margin: 0 auto;
    max-width: 80%;
    background-color: #0c0254;
    border-radius: 10px;
    padding: 20px;
  }
  
  .contact__options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .contact__option {
    width: 25%;
  }
  
  .contact__option__icon {
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #4267b3;
    color: white;
    border-color: #4267b3;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact__option__icon {
    color: #4267b3;
  }
  
  h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #4267b3;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact__container::after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 20, 32);
  } 
  textarea{
    width: 50%;
    height: 50px;
    border-radius: 10px;
  }
  .btn-primary{
    display: block;

  }
  form{
    display: block;
    align-items: center;
    justify-content: center;
    
  }