/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Global CSS Variables */
:root {
  --color-bg: #0e1122; /* Background color */
  --color-bg-variant: #221446; /* Background variant color */
  --color-primary: #0088cc; /* Primary color */
  --color-primary-variant: rgba(0, 136, 204, 0.4); /* Primary variant color */
  --color-white: #fff; /* White color */
  --color-light: #657786; /* Light color */
  --transition: all 400ms ease; /* Transition duration and easing */
  --container-width-lg: 75%; /* Large container width */
  --container-width-md: 86%; /* Medium container width */
  --container-width-sm: 90%; /* Small container width */
}

/* HTML Styles */
html {
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Body Styles */
body {
  font-family: 'Poppins', sans-serif; /* Font family */
  background: var(--color-bg); /* Background color */
  color: var(--color-light); /* Text color */
  line-height: 1.7; /* Line height */
}

/* Container Styles */
.container {
  width: var(--container-width-lg); /* Container width */
  margin: 0 auto; /* Center align container */
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; /* Font weight */
}

h1 {
  font-size: 2.5rem; /* Heading 1 font size */
}

/* Section Styles */
section {
  margin-top: 8rem; /* Margin at the top of each section */
}

section > h2,
section > h5 {
  text-align: center; /* Center align section headings */
  color: var(--color-primary); /* Primary color for section headings */
}

section > h2 {
  margin-bottom: 3rem; /* Margin at the bottom of main section headings */
  font-size: 2.8rem; /* Main section heading font size */
}

/* Text Styles */
.text-light {
  color: var(--color-light); /* Light color for text */
}

/* Link Styles */
a {
  color: var(--color-primary); /* Link color */
  transition: var(--transition); /* Smooth transition on link hover */
}

a:hover {
  color: var(--color-primary-variant); /* Link color on hover */
}

/* Button Styles */
.btn {
  width: max-content; /* Set button width to fit content */
  display: inline-block; /* Display buttons inline */
  color: var(--color-white); /* Button text color */
  padding: 0.75rem 1.2rem; /* Button padding */
  border-radius: 0.4rem; /* Button border radius */
  cursor: pointer; /* Button cursor style */
  background: var(--color-primary); /* Button background color */
  transition: var(--transition); /* Smooth transition on button hover */
}

.btn:hover {
  background: var(--color-primary-variant); /* Button background color on hover */
}

.btn-primary {
  background: var(--color-primary); /* Primary button background color */
}

/* Image Styles */
img {
  display: block; /* Display images as blocks */
  width: 100%; /* Set image width to 100% */
  object-fit: cover; /* Cover image inside its container */
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md); /* Medium container width */
  }
  section {
    margin-top: 1rem; /* Reduced margin at the top of each section */
  }
}

/* MEDIA QUERIES FOR SMALL DEVICES */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm); /* Small container width */
  }
  section > h2 {
    margin-top: 1rem; /* Reduced margin at the top of main section headings */
    font-size: 2.4rem; /* Reduced font size for main section headings */
  }
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px; /* Reduced padding on large screens */
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2rem; /* Reduced font size for heading 1 */
  }

  section {
    margin-top: 60px; /* Reduced margin at the top of each section */
  }

  section > h2 {
    margin-bottom: 20px; /* Reduced margin at the bottom of main section headings */
    font-size: 2.4rem; /* Reduced font size for main section headings */
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-top: 40px; /* Reduced margin at the top of each section */
  }

  section > h2 {
    font-size: 2rem; /* Reduced font size for main section headings */
  }
}

@media screen and (max-width: 576px) {
  section {
    margin-top: 30px; /* Reduced margin at the top of each section */
  }

  section > h2 {
    font-size: 1.8rem; /* Reduced font size for main section headings */
  }
}
